html,body{
    height:100%;
    overflow-x: hidden;
    background: black;
    color: white;
}

#root{
  height:100%;
  width:100%;
}

.App {
  text-align: center;
  height:100%;
  padding-right: 0px;
  padding-left: 0px;
}

#PrimaryRow{
  height: 100%;
}

.grid-half{
  height: 100%;
}

#ChecklistNavRow{
  height: 10%;
}

#ChecklistRow{
  height: 30%;
  overflow:auto;
}

#TrackerRow{
  height: 60%;
}

#MapNavRow{
  height: 20%;
}

#MapRow{
  height: 80%;
  padding: 25px;
}

.map-container{
  position: relative;
  width: 100%;
  height: 100%;

}

.tracker-container{
  width: 100%;
  max-height: 100%;
}

.map-container #map-img {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width:100%;
    max-height:100%
}

.map-container #map-canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    max-width:100%;
    max-height:100%
}

.unobtained{
  opacity: 0.5;
}

.obtained{
  opacity: 1;
}

.check-display p,input{
  display: inline;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
