html,body{
    height:100%;
    overflow-x: hidden;
}

#root{
  height:100%;
  width:100%;
}

.App {
  text-align: center;
  height:100%;
  padding-right: 0px;
  padding-left: 0px;
}

#PrimaryRow{
  height: 100%;
}

.grid-half{
  height: 100%;
}

#ChecklistNavRow{
  height: 10%;
}

#ChecklistRow{
  height: 45%;
}

#TrackerRow{
  height: 45%;
}

#MapNavRow{
  height: 20%;
}

#MapRow{
  height: 80%;
}

.container-fluid{
  border-color: black;
  border-width: 1px;
}