html,body{
    height:100%;
    overflow-x: hidden;
    background: black;
    color: white;
}

#root{
  height:100%;
  width:100%;
}

.App {
  text-align: center;
  height:100%;
  padding-right: 0px;
  padding-left: 0px;
}

.space{
  width: 5px !important;
}

#PrimaryRow{
  height: 100%;
}

.grid-half{
  height: 100%;
}

#OptionsRow{
  height: 10%;
}

#ChecklistOptions{
  height: 10%;
}


#ViewRow{
  height: 90%;
  overflow-y:auto;
  overflow-x:hidden;
}

#Checklist{
  height: 100%;
  overflow-y:auto;
  overflow-x:hidden;
}

#ChecklistRow{
  height: 33%;
  overflow-y:auto;
  overflow-x:hidden;

}

#TrackerRow{
  height: 60%;
}

#MapNavRow{
  height: 20%;
  white-space: nowrap;
}

#MapNavRow .img-fluid{
  height: 80%;

}

#MapNavRow .container-fluid{
  height: 100%;
  display: inline-block;
  width: auto;
}

#MapNavRow .container-fluid > img,span{

  display: inline;

}

#MapNavRow{
  overflow-x: auto;
  white-space: nowrap;
}


#MapRow{
  height: 80%;
  padding: 25px;
}

.map-container{
  position: relative;
  width: 100%;
  height: 100%;

}

.tracker-container{
  width: 100%;
  max-height: 100%;
}

.map-container #map-img {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width:100%;
    max-height:100%
}

.map-container #map-canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    max-width:100%;
    max-height:100%
}

#map-container{

  height: 100%; 
  width: 100%;
}

.leaflet-container{
  background: black;
}

.unobtained{
  opacity: 0.5;
}

.obtained{
  opacity: 1;
}

.check-display p,input{
  display: inline;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.filterOption{
  color: black;
}

.canCheck{
  color: yellow;
}

.checked{
  color: green;
}

.cantCheck{
  color: red;
}


html {
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
  scrollbar-dark-shadow-color: #646464;
}

::-webkit-scrollbar { width: 8px; height: 6px;}
::-webkit-scrollbar-button {  background-color: #667; }
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #667; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #646464;}
::-webkit-resizer { background-color: #667;}